 <div class="landing">
  <div class="main">
    <div class="first">
      <h1>WHAT TIME ARE YOU?</h1>
      <h2>11.09 — 06.10</h2>
      <p>Мы существуем в одном физическом времени, но воспринимаем его по-разному. <br> С появлением новых медиа и компьютерных игр человек получил возможность заполнять физическое время цифровым пространством, а цифровое время редактировать по своему желанию: ставить на паузу, ускорять, замедлять. Персонажи одних игр не стареют, а в других цифровых мирах построение городов занимает считанные секунды</p>

      <button type="button" name="button">Подробнее<span><%= image_tag asset_path("arrow.svg")%></span></button>
    </div>

    <div class="firstimage">
      <%= image_tag asset_path("main.png")%>
    </div>
  </div>

  <h3>ВЫСТАВКИ</h3>

  <div class="cards">

    <div class="up">
      <!-- 1 -->

      <div class="card">
        <div class="images">
          <%= image_tag asset_path("cover2.jpg")%>
        </div>
        <h2>Новые лозунги</h2>
        <h4>11.09 — 06.10</h4>
        <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным</p>
      </div>

        <!-- 2 -->

      <div class="card">
        <div class="images">
            <%= image_tag asset_path("cover3.jpg")%>
        </div>
        <h2>Твердые вещи</h2>
        <h4>11.09 — 06.10</h4>
        <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным</p>
      </div>

        <!-- 3 -->

      <div class="card">
        <div class="images">
            <%= image_tag asset_path("cover5.jpg")%>
        </div>
        <h2>Настоящее прошлое</h2>
        <h4>11.09 — 06.10</h4>
        <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным</p>
      </div>
    </div>

    <div class="down">
      <!-- 4 -->

    <div class="card">
      <div class="bigcard">
        <div class="images">
            <%= image_tag asset_path("cover4.jpg")%>
        </div>
        <h2>WHAT TIME ARE YOU?</h2>
        <h4>11.09 — 06.10</h4>
        <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным. Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма <br> и бесконечных перемен можно считать постоянным и надежным</p>
      </div>
    </div>

      <!-- 5 -->

    <div class="card">
        <div class="lastcard">
          <div class="images">
              <%= image_tag asset_path("cover1.jpg")%>
          </div>
          <h2>Новые лозунги</h2>
          <h4>11.09 — 06.10</h4>
          <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным</p>
        </div>
      </div>
    </div>
    <button type="button" name="button">Все выставки</button>
  </div>



  <div class="main">
    <div class="news">
      <h2>Портфолио-ревю <br> для студентов всех профилей </h2>
      <h4>11 сентября — 6 октября </h4>
      <p>По итогам портфолио-ревю будут отобраны работы для участия в выставке в галерее <br> и зимнего аукциона SAMPLE х HSE</p>
      <button type="button" name="button">Подробнее<span><%= image_tag asset_path("arrow.svg")%></span></button>
    </div>
    <div class="newsimage">
      <%= image_tag asset_path("news.png")%>
    </div>
  </div>

  <h3>СОБЫТИЯ</h3>

  <div class="cards">
    <div class="downtwo">
      <!-- 4 -->
      <div class="bigcard">
        <div class="bigimages">
            <%= image_tag asset_path("cover6.jpg")%>
        </div>
        <h2>Новые лозунги</h2>
        <h4>11.09 — 06.10</h4>
        <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным. Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным</p>
      </div>
      <!-- 5 -->
      <div class="lastcard">
        <div class="lastimages">
            <%= image_tag asset_path("cover7.jpg")%>
        </div>
        <h2>Твёрдые вещи</h2>
        <h4>11.09 — 06.10</h4>
        <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным</p>
      </div>
    </div>
    <div class="up">
      <!-- 1 -->
      <div class="card">
        <div class="images">
          <%= image_tag asset_path("cover8.jpg")%>
        </div>
        <h2>WHAT TIME ARE YOU?</h2>
        <h4>11.09 — 06.10</h4>
        <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным</p>
      </div>
      <!-- 2 -->
      <div class="card">
        <div class="images">
            <%= image_tag asset_path("cover9.jpg")%>
        </div>
        <h2>Новые лозунги</h2>
        <h4>11.09 — 06.10</h4>
        <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным</p>
      </div>
      <!-- 3 -->
      <div class="card">
        <div class="images">
            <%= image_tag asset_path("cover10.jpg")%>
        </div>
        <h2>Товарищи света</h2>
        <h4>11.09 — 06.10</h4>
        <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным</p>
      </div>
    </div>
    <div class="bevents">
          <button type="button" name="button">Все события</button>
    </div>
  </div>

  <div class="main">
    <div class="art">
      <h2>Программа <br> «Современное <br> искусство» в НИУ ВШЭ</h2>
      <p>Для подготовки художникови кураторов, фотографов и кинематографистов, теоретиков и практиков во всех областях современного искусства</p>
      <button type="button" name="button">Подробнее<span><%= image_tag asset_path("arrow.svg")%></span></button>
    </div>
    <div class="artimage">
      <%= image_tag asset_path("art.png")%>
    </div>
  </div>

  <div class="main">
    <div class="appicon">
      <%= image_tag asset_path("app.svg")%>
    </div>
    <div class="guide">
      <h2>HSE ART GALLERY GUIDE</h2>
      <p>Приложение позволяет узнать больше о конкретной <br> выставке и о каждом экспонате, сканируя QR-коды</p>
      <button type="button" name="button">Cкачать</span></button>
    </div>
  </div>

  <hr>

  <!-- <div class="main">
    <div class="email">
      <h2>Хотите быть в курсе всего?</h2>
      <p>Подпишитесь на нашу рассылку. <br> Мы обещаем писать редко и по делу</p>
    </div>
    <! заменить -->
    <!--
    <button type="field" name="field">e-mail</button>
  </div> --> -->


</div>
